version: '2'

volumes:
    prometheus_data: {}
    grafana_data: {}

networks:
  front-tier:
    driver: bridge
  back-tier:
    driver: bridge

services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '-config.file=/etc/prometheus/prometheus.yml'
      - '-storage.local.path=/prometheus'
      - '-alertmanager.url=http://alertmanager:9093'
    expose:
      - 9090
    ports:
      - 9090:9090
    links:
#      - cadvisor:cadvisor
      - alertmanager:alertmanager
      - metrics:metrics
#    depends_on:
#      - cadvisor
    networks:
      - back-tier
  
  node-exporter:
    image: prom/node-exporter
    expose:
      - 9100
    networks:
      - back-tier
  alertmanager:
    image: prom/alertmanager
    ports:
      - 9093:9093
    volumes: 
      - ./alertmanager/:/etc/alertmanager/
    networks:
      - back-tier
    command:
      - '-config.file=/etc/alertmanager/config.yml'
      - '-storage.path=/alertmanager'
      
#  cadvisor:
#    image: google/cadvisor
#    volumes:
#      - /:/rootfs:ro
#      - /var/run:/var/run:rw
#      - /sys:/sys:ro
#      - /var/lib/docker/:/var/lib/docker:ro
#    expose:
#      - 8080
#    ports:
#      - 8080:8080
#    networks:
#      - back-tier
  
  grafana:
    image: grafana/grafana
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    volumes:
      - grafana_data:/var/lib/grafana
    env_file:
      - config.monitoring
    networks:
      - back-tier
      - front-tier
  
  metrics:
     image: infinityworks/docker-hub-exporter
     ports:
       - 9170:9170
     environment:
       - "IMAGES=google/cadvisor, library/alpine, library/ubuntu"
     networks:
       - back-tier
